:root {
  --bg-color-black: #000000;
  --bg-color-gray: #222222;
  --bg-color-gray-hover: #424242;
  --bg-color-clear-grey: #4a4a4a;
  --bg-color-clear-grey-hover: #6a6a6a;
  --main-text-color: #ffffff;
  --main-text-color-hover: #dfdfdf;
  --zoom-green: #4bc800;
  --zoom-red: #d10e26;
}

/* general stiling */
* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
}
h3{
    font-weight: 500;
    margin: .2em 0 ;
}

body {
  background-color: var(--bg-color-black);
  height: 100vh;
  overflow: hidden;
}



button{
    cursor: pointer;
    background: transparent;
    padding: 1em .4em;
}
button:hover{
    background-color: var(--bg-color-gray-hover);
    border-radius: 0;
}
/* / general stiling */

/* reusable component */
.sml-grey-btn {
    background-color: var(--bg-color-clear-grey);
    padding: 0.3em 0.5em;
}
.sml-grey-btn:hover{
    background-color: var(--bg-color-clear-grey-hover);
    border-radius: 5px;
}
/*  / reusable component */

/* reusable stiling */
.flex-component{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
    gap: 0.8em;
}
.font-size-24{
    font-size: 20px;
}

/* / reusable stiling */


/* ------ TOP CONTOLS ------ */
.top-controls {
    position: fixed;
    right: 0;
    top: 0;
}
.top-controls li {
  margin: .2em;
}
/* ------ / TOP CONTOLS ------ */



/* ------ MAIN SECTION ------ */
main{
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 5vh 0 10vh 0;
}
.user-cam-wrapper{
    width: calc(100% / 8);
    height: calc(100% / 5);
    margin: 2px;
    overflow: hidden;
    position: relative;
}
.user-cam-wrapper img{
    width: 100%;
}
.user-name{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0,0,0,.5);
    padding: .2em;
    gap: 4px;
}
.user-name > * {
    font-size: 10px;
    font-weight: 500;
}




/* ------ / MAIN SECTION ------ */


/* ------ BOTTOM CONTOLS ------ */
.bottom-controls{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-gray);
    justify-content: space-between;
    flex-grow: 1;
}

.bottom-controls li {
    padding: 0 0.5em;
}
.bottom-controls li:hover{
    background-color: var(--bg-color-gray-hover);
}
.bottom-controls li:hover *{
    color: var(--main-text-color-hover);
}
.bottom-controls button:hover i{
    color: var(--zoom-green);
}

.central-nav{
    justify-content: center;
    flex-grow: 2;
}
.central-nav li{
    flex-grow: 1;
}

.end-btn{
    justify-content: flex-end;
}
.end-btn button{
    padding: 1em 1em;
}
.end-btn button:hover{
    color: var(--zoom-red);
}



.fa-chevron-up{
    font-size: 10px;
    vertical-align: middle;

}

/* ------ /  BOTTOM CONTOLS ------  */